<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Feed</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
	</head>
	<body>
		<!-- Page Navbar -->
		<nav class="navbar navbar-expand-lg bg-success">
			<div class="container-fluid">
				<a class="navbar-brand mb-0 h1" href="#">
					<!-- Icon source: https://icon-icons.com/icon/cow-animal/122113 -->
					<img src="../static/icons/cow-navbar.ico" alt="Cow Icon" width="32" height="32">
					Pasture
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<!-- List of thing in the Navbar -->
					<ul class="navbar-nav">
						<!-- Use below as an example if you want to add more items -->
						<li class="nav-item">
							<a href="#" class="nav-link active" aria-current="page">Feed</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Page columns -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-3 text-center">left</div>
				<!-- Posts will go in this column -->
				<div class="col-6 text-center">center</div>
				<div class="col-3 text-center">right</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
	</body>
</html>
